.container svg{
    scale: 2;
    transition: .2s ease;
}


.container span{
  position: absolute;
  left: 30px;
  top:76px;
  z-index: 2;
}

.HamSideBar{
    position: absolute;
    display: flex;
    left: 0px;
    flex-direction: column;
    height: 400px;
    width: 50%;
    justify-content: center;
    gap: 50px;
    background-color: aquamarine;
    padding: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    transition: .2s ease;
    transform: translateX(var(--move));
}
.Link svg{
 margin-right: 10px;
}